.tags-input-field-container {
	width: 100%;
	height: fit-content;

	p {
		color: var(--color-gray);
		font-family: Rubik;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		margin-top: 8px;
	}
}

.tags-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 10px 16px;

	max-height: 16vh;
	overflow: scroll;

	margin-top: 10px;

	svg {
		stroke: #2563eb;
		cursor: pointer;
	}
}
