.checkbox-container {
	display: flex;
	gap: 6px;
	align-items: center;

	label {
		font-family: inherit;
		font-size: 12px;
		font-weight: 500;
		line-height: 14px;
		color: var(--color-secondary);
	}

	&--disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}
}
