@import "../../styles/mixin.scss";
$container-padding-horizontal: 40;
$container-width: 829;

.padding-vertical-24 {
	padding-top: 24px !important;
	padding-bottom: 24px !important;
}

.metadata-header {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	padding-bottom: 24px;
	border-bottom: 1px solid var(--color-border);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	.title {
		color: var(--color-secondary-text);
		font-weight: 500;
	}

	.metadata-actions {
		display: flex;
		flex-direction: row;
		@include gap-horizontal(16px);
	}
}

.metadata-content-container {
	margin-top: 22px;
	padding-left: 28px;
	padding-right: 28px;
	overflow-x: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #0d2e4e;
	border-radius: 6px;
	white-space: pre;

	.hljs {
		background: #0d2e4e;
		font-weight: 400;
		font-size: 13px;
		line-height: 21px;
		padding: 0px !important;
	}
}

.metadata-edit-box {
	margin-top: 24px;
	min-width: 100%;
	max-width: 100%;
	min-height: 200px;
	padding: 4px;
	background-color: var(--color-window-bg);
	border-radius: 6px;
	border: none;
	border: 1px solid rgb(224, 224, 224);
}
