@import "../../styles/mixin.scss";

.user-detail-form {
	.input-field-container:not(:last-of-type) {
		margin-bottom: 24px;
	}
	&__header {
		font-size: 24px;
	}
	&__actions {
		display: flex;
		justify-content: flex-end;
		margin-top: 24px;
		@include gap-horizontal(24px);
		button {
			justify-content: center;
			font-weight: normal;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 16px;
			padding-left: 16px;
		}
	}
	p {
		font-size: 14px;
		line-height: 24px;

		span {
			color: #ed344e;
			font-weight: bold;
			word-break: break-all;
			hyphens: auto;
			overflow-wrap: anywhere;
		}
	}
}

.phone-input {
	margin-top: 12px;
	margin-bottom: 8px;
}

.user-delete-input-container {
	margin-top: 8px;
}
