.key-value-input-container {
	display: flex;
	flex-direction: column;
	gap: 10px;

	&__fields-container {
		border: 1px solid var(--color-border-command);
		border-radius: 6px;
		padding: 16px;
	}

	&__fields-list {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	&__field {
		display: flex;
		gap: 16px;
		padding: 3px 10px;
		background-color: var(--color-client-config-header-bg);
		border-radius: 4px;
		align-items: center;

		.third-party-provider-input-container {
			gap: 10px;
		}

		@media screen and (max-width: 768px) {
			flex-direction: column;
			gap: 10px;
			padding-bottom: 10px;
		}
	}

	&__divider {
		display: block;
		height: 0px;
		margin-bottom: 10px;
		border: none;
		border-top: 1px dashed var(--color-border-command);
	}

	&__footer {
		margin-top: 12px;
	}

	&__add-new {
		background: transparent;
		padding: 0;
		border: none;
		font-family: inherit;
		font-weight: 500;
		font-size: 14px;
		color: var(--color-transparent-button);

		&:hover {
			text-decoration: underline;
		}
	}
}
