.dialog-container-650 {
	max-width: 650px;
}

.command-container {
	margin-top: 0px;
	display: flex;
	padding-block: 6px;
	padding-inline: 8px 4px;
	border: 1px solid var(--color-border-command);
	border-radius: 6px;
	white-space: break-spaces;

	.clipboard-btn-container {
		height: 24px;
		min-width: 24px;
		border-radius: 50%;
		transition: 0.1s all ease-in-out;
		cursor: pointer;

		&:hover {
			background: rgba(217, 217, 217, 0.6);
		}

		.clipboard-icon {
			width: 12px;
			height: 14px;
		}
	}

	code.command {
		word-break: break-word;
		font-size: 13px;
		line-height: 1.6;
		color: var(--color-command);
		flex: 1;
		max-height: 300px;
		overflow-y: scroll;

		.hljs-string {
			color: inherit;
		}
	}

	.tooltip-container {
		height: fit-content;

		.tooltip-container__popup {
			padding: 3px 8px;
		}
	}
}
